.featuredProducts {
    margin: 100px 200px;
}

.top {
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD <<<<<<< HEAD=======>>>>>>>79da70f (edit flex) .h1 {
    flex: 3;
}

>>>>>>>da1021608b5b5fba0f13e0f6c01ae2b235bc8b28 p {
    color: grey;
    min-width: 250px;
    flex: 4;

}

.bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

@media only screen and (max-width:1024px) {
    .bottom {
        justify-content: center;
    }
}