.featuredProducts {
    padding: 50px 30px;
}

.top {
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

p {
    color: grey;
    min-width: 250px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width:572px) {
    .featuredProducts {
        padding: 15px;
    }

    .bottom {
        justify-content: center;
    }

}