.wishlist {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 3;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.h1 {
    margin: 30px;
    color: gray;
    font-weight: 400;
    font-size: 24px;
}

.img {
    height: 100px;
    width: 80px;
    object-fit: cover;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.desc {
    max-width: 250px;
    font-size: 14px;
    margin-bottom: 10px;
    color: grey;
}

.add {
    color: #2879fe;
    cursor: pointer;
}

.delete {
    color: red;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .wishlist {
        top: 70px;
    }
}