.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 50px;
    aspect-ratio: 9/16;
    width: auto;
    height: 400px;
  
}

.image {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-position: top;
}


.link {
    text-decoration: none;
    color: inherit;
}

.mainImage,
.secondImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: top;
}

.mainImage {
    z-index: 1;
}

.secondImage {
    z-index: 0;
    transition: 0.2s ease-in-out;
}

.card:hover .secondImage {
    z-index: 2;
}

.span {
    position: absolute;
    top: 5px;
    right: 1px;
    background-color: white;
    color: teal;
    padding: 3px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
}

.h2 {
    font-size: 14px;
    font-weight: 400;
}

.prices {
    display: flex;
    gap: 20px;
}

.h3 {
    font-size: 18px;
    font-weight: 500;
}

.oldPrice {
    text-decoration: line-through;
    color: grey;
}



.addBtn {
    display: none;
    position: absolute;
    color: black;
    background-color: #fff;
    border: 1px solid grey;
    z-index: 5;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 10%;
    font-size: 16px;
    padding: 8px 10px;
    cursor: pointer ;
}

.card:hover .addBtn {
    display: block;
}

@media only screen and (max-width:572px) {
    .card {
        height: 270px;
    }   

}