.product {
    padding: 20px 50px;
    display: flex;
    gap: 50px;
}

.left {
    flex: 1;
    display: flex;
    gap: 20px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.images {
    flex: 1;
}

.mainImage {
    flex: 5;
}

.images>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
}

.mainImage>img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: center top;
}

.add {
    background-color: #fff;
    color: rgb(25, 117, 230);
    display: flex;
    max-width: 300px;
    align-items: center;
    outline: none;
    border: 1px solid rgb(25, 117, 230);
    font-family: inherit;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    letter-spacing: 0.5px;

}

.add:hover {
    background-color: rgb(25, 117, 230);
    border: 1px solid transparent;
    color: white;
}

.btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn:hover {
    border: 1px solid black;
}

.link {
    display: flex;
    gap: 10px;
}

.item {
    display: flex;
    color: rgb(25, 117, 230);
    cursor: pointer;
    gap: 5px;
    font-size: 14px;

}

.price {
    font-size: 30px;
    color: rgb(25, 117, 230);
    font-weight: 500;
}

.p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    max-width: 600px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: grey;
    margin-top: 30px;
}

hr {
    border: 1px thin lightgray;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: grey;
    margin-top: 30px;
}

.details>hr {
    max-width: 1500px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detailsItem > span {
    font-weight: bold;
    color: black;
}

.detailsItem {
    display: flex;
    justify-content: space-between;    
    cursor: pointer;
}



@media only screen and (max-width:767px) {
    .product {
        flex-direction: column;
    }
    .left {
        flex-direction: column-reverse;
    }

    .images {
        display: flex;
        gap: 10px;
    }
}