.footer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1000px;
}

.item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.linkStyle {
    text-decoration: none;
    color: inherit;
}

.span {
    color: gray;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.logo {
    font-family: 'GFS Didot';
    font-weight: 700;
    font-size: 24px;
    color: rgb(17, 143, 233);
}

.img {
    height: 50px;
}

.alonso {
    color: rgb(17, 143, 233);
    font-weight: 600;
}

@media only screen and (max-width:450px) {
    .img {
        max-width: 250px;
    }
}